<h1>Add a restaurant</h1>
<%= form_for(@restaurant) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, :value => @restaurant.name %>
<br/>
<%= f.label :address %>
<%= f.text_field :address, :value => @restaurant.address %>
<br/>
<%= f.label :phone_number %>
<%= f.text_field :phone_number, :value => @restaurant.phone_number %>
<br/>
<%= f.label :category %>
<%= f.select :category, options_for_select(@categories), :value => @restaurant.category %>
<br/>
<%= f.submit %>
<% end %>
